In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from statistics import mode

In [38]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
df_iris=pd.read_csv("Iris.csv")

In [7]:
df_titanic= pd.read_csv("Titanic.csv")

In [8]:
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
df_titanic["Age"].mean()

29.69911764705882

In [12]:
df_titanic["Age"].median()

28.0

In [19]:
df_titanic["Age"].mode()

0    24.0
Name: Age, dtype: float64

In [14]:
df_titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
df_iris["SepalLengthCm"].mean()

5.843333333333334

In [16]:
df_iris["SepalLengthCm"].median()

5.8

In [18]:
df_iris["SepalLengthCm"].mode()

0    5.0
Name: SepalLengthCm, dtype: float64

In [35]:
from scipy import stats as st

In [39]:
st.mode(df_iris["SepalLengthCm"])

ModeResult(mode=array([5.]), count=array([10]))

In [20]:
x=[23,24,32,45,12,43,67,45,32,56,32]

In [21]:
mean=0
s=0
for i in x: 
    s=s+i

In [29]:
mean=s/len(x)
print(mean)

37.36363636363637

In [25]:
np.mean(x)

37.36363636363637

In [33]:
m=sorted(x)

In [42]:
med=0
if len(x)%2==0:
    mid = len(m)/2
    med= (m[mid-1] + m[mid])/2
    print(med)
else:
    mid = int(len(m)/2)
    med= m[mid]
    print(med)

32

In [41]:
np.median(x)

32.0

In [43]:

# Despersion of the data

In [49]:
x_copy=x.copy()

In [50]:
x_copy

[23, 24, 32, 45, 12, 43, 67, 45, 32, 56, 32]

In [51]:
x_copy.append(150)

In [52]:
x_copy

[23, 24, 32, 45, 12, 43, 67, 45, 32, 56, 32, 150]

In [53]:
x_copy1=x.copy()

In [54]:
x_copy1.append(75)

In [55]:
np.mean(x_copy)

46.75

In [56]:
np.mean(x_copy1)

40.5

In [57]:
np.median(x_copy)

37.5

In [58]:
np.median(x_copy1)

37.5

In [59]:
np.median(x)

32.0